@model SiGe.KardexDetailModel;

@{ ViewData["Title"] = "Kardex"; }

<div class="page-header">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <hr />
            <div class="form-group row">
                <label class="col-sm-12 col-md-12 col-form-label">@Html.DisplayNameFor(model => model.Product.Code)</label>
                <div class="col-sm-12 col-md-12">
                    <label class="col-sm-12 col-md-12 col-form-label">@Html.DisplayFor(model => model.Product.Code)</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-12 col-md-12 col-form-label">@Html.DisplayNameFor(model => model.Product.Description)</label>
                <div class="col-sm-12 col-md-12">
                    <label class="col-sm-12 col-md-12 col-form-label">@Html.DisplayFor(model => model.Product.Description)</label>
                </div>
            </div>
            <table class="data-table table">
                <thead>
                    <tr>
                        <th>Día</th>
                        <th>Mes</th>
                        <th>Año</th>
                        <th>Descripción</th>
                        <th>Ingreso</th>
                        <th>Salida</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Details)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Day)</td>
                            <td>@Html.DisplayFor(modelItem => item.Month)</td>
                            <td>@Html.DisplayFor(modelItem => item.Year)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.QuantityIn)</td>
                            <td>@Html.DisplayFor(modelItem => item.QuantityOut)</td>
                            <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                        </tr>
                    }
                </tbody>

            </table>


        </div>
    </div>
    <form asp-controller="Kardex">
        <input asp-action="Index" type="submit" value="Volver" class="btn btn-danger" />
    </form>

</div>