@using Microsoft.AspNetCore.Http;
@model List<SiGe.CompanyViewModel>

@{ ViewData["Title"] = "Empresa"; }

<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Empresa</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Empresas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Datos de Empresa</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
@if (Context.Session.GetInt32("IdentityAction") == 1)
{
<p>
    <a type="button" class="btn btn-success" asp-controller="Company" asp-action="Create">Nueva Empresa</a>
</p>}

<!-- Simple Datatable start -->
<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Lista de Datos</h4>
    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">Numero de Documento de Identidad</th>
                    <th>Empresa</th>
                    <th class="datatable-nosort">Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string selectedRow = "";
                    if (item.companyModel.CompanyId == (int?)ViewData["CompanyId"])
                    {
                        selectedRow = "success";
                    }
                 <tr class="@selectedRow">
                    <td class="table-plus"> @Html.DisplayFor(modelItem => item.companyModel.IdentityDocumentNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.companyModel.BusinessName)</td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.companyModel.CompanyId"><i class="dw dw-edit2"></i>Editar</a>
                                @if (Context.Session.GetInt32("IdentityAction") == 1)
                                {
                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.companyModel.CompanyId"><i class="dw dw-delete-3"></i>Eliminar</a>
                                    <a class="dropdown-item" asp-action="Create" asp-controller="Payment" asp-route-id="@item.companyModel.CompanyId"><i class="dw dw-eye"></i>Suscripción</a> }
                                else
                                {
                    <a class="dropdown-item" asp-action="Index" asp-controller="CompanyCredential"><i class="dw dw-delete-3"></i>Credenciales</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="CompanyCertificate"><i class="dw dw-eye"></i>Certificados</a>}
                            </div>
                        </div>
                    </td>
                 </tr>
                 foreach (var payment in item.paymentModels)
                    {
                        <tr class="@selectedRow">
                            <td>

                            </td>
                            <td>
                                Suscripción activa del @Html.DisplayFor(modelItem => payment.StartingDate) al @Html.DisplayFor(modelItem => payment.EndingDate.Date)
                            </td>
                            <td>

                            </td>
                        </tr>
                        
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Simple Datatable End -->