@model List<SiGe.CompanyCertificateModel>

@{ ViewData["Title"] = "Certificados"; }

<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Certificados para facturación</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Certificados</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Listado de Certificados</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<p>
    <a type="button" class="btn btn-success" asp-controller="CompanyCertificate" asp-action="Create">Nuevo Certificado</a>
</p>

<!-- Simple Datatable start -->
<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Listado de Certificados</h4>
    </div>
    <div class="pb-20">
        <table id="example" class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th>Value</th>
                    <th>Password</th>
                    <th>Fecha de Expiración</th>
                    <th class="datatable-nosort">Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string selectedRow = "";
                    if (item.CompanyCertificateId == (int?)ViewData["CompanyCertificateId"])
                    {
                        selectedRow = "success";
                    }

                <tr class="@selectedRow">
                    @*<td>@Html.DisplayFor(modelItem => item.Value)</td>*@
                    <td>**********</td>
                    <td>@Html.DisplayFor(modelItem => item.Password)</td>
                    <td>@Html.DisplayFor(modelItem => item.ExpiredDate)</td>
                    <td>
                        <div class="dropdown2">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.CompanyCertificateId"><i class="dw dw-edit2"></i>Editar</a>
                            </div>
                        </div>
                    </td>
                </tr>
}
            </tbody>
        </table>
    </div>
</div>
<!-- Simple Datatable End -->