@model SiGe.DocumentCreateViewModel;

@{ ViewData["Title"] = "Nuevo"; }

<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Nuevo Comprbante</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Comprobantes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mis Comprobantes</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<!-- Default Basic Forms Start -->
<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h4 class="text-blue h4">Datos del Comprobante</h4>
        </div>
    </div>
    <form asp-controller="Document" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="form-group row col-md-4">
                <label asp-for="DocumentTypeId" class="col-sm-6 col-md-3 col-form-label">Comprobante</label>
                <div class="col-sm-12 col-md-9">
                    <select asp-for="DocumentTypeId" class="selectpicker form-control" data-style="btn-outline-primary" data-size="5">
                        <optgroup label="Elige una opcion" data-max-options="2">
                            @foreach (var item in Model.DocumentTypes)
                            {
                                <option value="@item.DocumentTypeId">@string.Concat(item.Description)</option>
}
                        </optgroup>
                    </select>
                    <span asp-validation-for="DocumentTypeId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row col-md-5">
                <label asp-for="DocumentTypeBranchOfficeSerieId" class="col-sm-6 col-md-3 col-form-label">Serie</label>
                <div class="col-sm-12 col-md-9">
                    <select asp-for="DocumentTypeBranchOfficeSerieId" class="form-control" >
                        <optgroup label="Elige una opcion">
                            @foreach (var item in Model.Series)
                            {
                                <option value="@item.DocumentTypeBranchOfficeSerieId">@string.Concat(item.Serie)</option>
                            }
                        </optgroup>
                    </select>
                    <span asp-validation-for="DocumentTypeBranchOfficeSerieId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row col-md-3">
                <label asp-for="Number" class="col-sm-6 col-md-4 col-form-label">Número</label>
                <div class="col-sm-12 col-md-8">
                    <input asp-for="Number" class="form-control" placeholder="Número" type="text" readonly>
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <input asp-for="Customer.CustomerId" class="form-control" type="hidden">
            <div class="form-group row col-md-4">
                <label asp-for="Customer.IdentityDocumentNumber" class="col-sm-12 col-md-3 col-form-label">RUC/DNI</label>
                <div class="col-sm-12 col-md-9">
                    <input asp-for="Customer.IdentityDocumentNumber" class="form-control" type="text">
                    <span asp-validation-for="Customer.IdentityDocumentNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row col-md-5">
                <label asp-for="Customer.BusinessName" class="col-sm-12 col-md-3 col-form-label">Razon Social</label>
                <div class="col-sm-12 col-md-9">
                    <input asp-for="Customer.BusinessName" class="form-control" type="text">
                    <span asp-validation-for="Customer.BusinessName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row col-md-3">
                <input class="btn btn-primary popup col-md-12 " data-url="Customer/Search" data-toggle="modal" data-target="#modal-search-customer" id="CustomerModel" type="button" value="Clientes" />
            </div>
        </div>

        <div class="row">
            <div class="form-group row col-md-4">
                <label asp-for="Customer.Address" class="col-sm-12 col-md-3 col-form-label">Dirección</label>
                <div class="col-sm-12 col-md-9">
                    <input asp-for="Customer.Address" class="form-control" type="text">
                    <span asp-validation-for="Customer.Address" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row col-md-5">
                <label asp-for="IssueDate" class="col-sm-12 col-md-3 col-form-label">Fecha de Emis.</label>
                <div class="col-sm-12 col-md-9">
                    <input asp-for="IssueDate"   class="form-control" placeholder="Fecha" type="date" >
                    <span asp-validation-for="IssueDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row col-md-3">
                <label asp-for="MethodPaymentId" class="col-sm-12 col-md-4 col-form-label">F. de Pago</label>
                <div class="col-sm-12 col-md-8">
                    <select asp-for="MethodPaymentId" class="selectpicker form-control" data-style="btn-outline-primary" data-size="5">
                        <optgroup label="Elige una opcion" data-max-options="2">
                            @foreach (var item in Model.MethodPayments)
                            {
                                <option value="@item.MethodPaymentId">@string.Concat(item.Description)</option>
}
                        </optgroup>
                    </select>
                    <span asp-validation-for="MethodPaymentId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input class="btn btn-primary popup" data-url="Product/Search" data-toggle="modal" data-target="#modal-search-product" id="ProductModel" type="button" value="Productos" />
        </div>

        <div class="card-box mb-30">
            <div class="pd-20">
                <h4 class="text-blue h4">Listado del Productos</h4>
            </div>
            <div class="pb-20">
                <table id="example" class="table stripe hover nowrap">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Precio Total</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody class="DocumentList">
                        @foreach (var item in Model.Details)
                        {
                            string selectedRow = "";
                            if (item.ProductId == (int?)ViewData["ProductId"])
                            {
                                selectedRow = "success";
                            }

                            <tr class="@selectedRow">
                                <td class="table-plus"> @Html.DisplayFor(modelItem => item.Code)</td>
                                <td class="table-plus"> @Html.DisplayFor(modelItem => item.Description)</td>
                                <td class="table-plus"> @Html.DisplayFor(modelItem => item.Quantity)</td>
                                <td class="table-plus"> @Html.DisplayFor(modelItem => item.Price())</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>
                                    <div class="dropdown2">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.ProductId"><i class="dw dw-edit2"></i>Quitar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row">
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                <div class="form-group row">
                    <label asp-for="SubTotal" class="col-sm-12 col-md-4 col-form-label">SubTotal</label>
                    <div class="col-sm-12 col-md-8">
                        <input asp-for="SubTotal" class="form-control" style="text-align:right;" type="number" value="0.00" readonly>
                        <span asp-validation-for="SubTotal" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Tax" class="col-sm-12 col-md-4 col-form-label">IGV</label>
                    <div class="col-sm-12 col-md-8">
                        <input asp-for="Tax" class="form-control" style="text-align:right;" type="number" value="0.00" readonly>
                        <span asp-validation-for="Tax" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Total" class="col-sm-12 col-md-4 col-form-label">Total</label>
                    <div class="col-sm-12 col-md-8">
                        <input asp-for="Total" class="form-control right" style="text-align:right;" type="number" value="0.00" readonly>
                        <span asp-validation-for="Total" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            <input asp-action="Index" type="submit" value="Volver" class="btn btn-danger" />
        </div>
    </form>
</div>
<!-- Default Basic Forms End -->
<!--Modal-->
<!--Product-->
<div aria-hidden="true" aria-labelledby="modal-search-product-label" role="dialog" tabindex="-1" id="modal-search-product" class="modal fade ">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Busqueda de Productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 class="text-blue h4">Lista de Productos</h4>
                    </div>
                    <div class="pb-20">
                        <table id="example" class="data-table table stripe hover nowrap">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">Codigo</th>
                                    <th>Producto</th>
                                    <th class="datatable-nosort">Accion</th>
                                </tr>
                            </thead>
                            <tbody class="ProductList">
                                @foreach (var item in Model.Products)
                                {
                                    var i = Model.Products.IndexOf(item);
                                    string selectedRow = "";
                                    if (item.ProductId == (int?)ViewData["ProductId"])
                                    {
                                        selectedRow = "success";
                                    }
                                    @Html.Hidden("Products[" + i + "].ProductId", item.ProductId)
                                    @Html.Hidden("Products[" + i + "].Code", item.Code)
                                    @Html.Hidden("Products[" + i + "].Description", item.Description)

                                    <tr class="@selectedRow">
                                        <td class="table-plus"> @Html.DisplayFor(modelItem => item.Code)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                        <td>
                                            <div class="dropdown2">
                                                @*<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                        <i class="dw dw-more"></i>
                                                    </a>*@
                                                @*<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.ProductId"><i class="dw dw-edit2"></i>Seleccionar</a>
                                                    </div>*@

                                                <input type="submit" value="Seleccionar" class="btn btn-primary select" name="action" id="Seleccionar" data-id="@item.ProductId" />
                                            </div>
                                        </td>
                                    </tr>
}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary"></button>*@
            </div>
        </div>
    </div>
</div>

<!--Customer-->

<div aria-hidden="true" aria-labelledby="modal-search-customer-label" role="dialog" tabindex="-1" id="modal-search-customer" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Busqueda de Clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 class="text-blue h4">Listado de Clientes</h4>
                    </div>
                    <div class="pb-20">
                        <table id="example" class="data-table table stripe hover nowrap">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">Nro Documento</th>
                                    <th>Nombre o Razon Social</th>
                                    <th>Dirección</th>
                                    <th class="datatable-nosort">Accion</th>
                                </tr>
                            </thead>
                            <tbody class="CustomerList">
                                @foreach (var item in Model.Customers)
                                {
                                    var i = Model.Customers.IndexOf(item);
                                    string selectedRow = "";
                                    if (item.CustomerId == (int?)ViewData["CustomerId"])
                                    {
                                        selectedRow = "success";
                                    }
                                    @Html.Hidden("Customers[" + i + "].CustomerId", item.CustomerId)
                                    @Html.Hidden("Customers[" + i + "].IdentityDocumentNumber", item.IdentityDocumentNumber)
                                    @Html.Hidden("Customers[" + i + "].BusinessName", item.BusinessName)
                                    @Html.Hidden("Customers[" + i + "].Address", item.Address)
                                    <tr class="@selectedRow">
                                        <td class="table-plus"> @Html.DisplayFor(modelItem => item.IdentityDocumentNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BusinessName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                        <td>
                                            <div class="dropdown2">
                                                @*<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                        <i class="dw dw-more"></i>
                                                    </a>*@
                                                @*<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                        <a class="dropdown-item" asp-route-id="@item.CustomerId"><i class="dw dw-edit2"></i>Seleccionar</a>
                                                    </div>*@

                                                <input type="submit" value="Seleccionar" class="btn btn-primary select" name="action" id="Seleccionar" data-id="@item.CustomerId" />
                                            </div>
                                        </td>
                                    </tr>
}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary"></button>*@
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script>
        $(document).ready(function () {

            $(".CustomerList").on("click", ".select", function (event) {
            event.preventDefault();
            var CustomerId = $(this).attr('data-id');
                $.ajax({
                type: "POST",
                url: "@Url.Action("AddCustomer")",
                                data: { id: CustomerId},
                dataType: "json",
                success: function (msg) {
                    $("#Customer_CustomerId").val(msg.customerId);
                    $("#Customer_IdentityDocumentNumber").val(msg.identityDocumentNumber);
                    $("#Customer_BusinessName").val(msg.businessName);
                    $("#Customer_Address").val(msg.address);
                    console.log(msg);
                },
                error: function (req, status, error) {
                    alert(error);
                }
                })
            });

            $(".ProductList").on("click", ".select", function (event) {
                event.preventDefault();
                var productId = $(this).attr('data-id');
                let indicator = true;
                $(".DocumentList input").each(function () {
                    if ($(this).attr("id").indexOf("ProductId")>=0)
                    {
                        var _productId = document.getElementById($(this).attr("id")).value;
                        if (productId === _productId) {
                            alert("Ya esta registrado");
                            indicator = false;
                        }
                    }
                });

                if (indicator) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("AddProduct")",
                        data: { id: productId },
                        dataType: "json",
                        success: function (msg) {

                            var row = "  <tr>" +
                                "<input class='form-control' type='hidden' id = 'ProductId" + msg.productId +"'  name ='Details[0].ProductId' value ='" + msg.productId +"'>"+
                                "<td class='table-plus'><input class='form-control' id = 'Code" + msg.productId +"' type='hidden' name ='Details[0].Code' value ='" + msg.code + "'>" + msg.code + "</td>" +
                                "<td><input class='form-control' id = 'Description" + msg.productId +"'type='hidden' name ='Details[0].Description' value ='" + msg.description + "'>" + msg.description + "</td>" +
                                "<td><input class='form-control' id = 'Quantity" + msg.productId + "' style='text-align: right;'  type='number' name ='Details[0].Quantity' oninput=Quantity(id) value = 1></td>" +
                                "<td><input class='form-control' id = 'UnitPrice" + msg.productId + "' style='text-align: right;' type='number' name ='Details[0].UnitPrice' oninput=UnitPrice(id) value = 0></td>" +
                                "<td><input class='form-control' id = 'TotalPrice" + msg.productId + "' style='text-align: right;' type='number' name ='Details[0].Price()' value = 0 readonly></td>" +
                                "<td>" +
                                "<input type='submit' value='Quitar' class='btn btn-danger select' name='action' id='Seleccionar' data-id='" + msg.producId + "'  />" +
                                "</div>" +
                                "</td>" +
                                "</tr>";
                            $(".DocumentList").append(row);
                            console.log(msg);
                        },
                        error: function (req, status, error) {
                            alert(error);
                        }
                    })
                }
            });

            $('#DocumentTypeId').on('change', function () {
                $.ajax({
                type: "POST",
                url: "@Url.Action("GetSerie")",
                data: { id: this.value},
                dataType: "json",
                    success: function (msg) {
                        $("#DocumentTypeBranchOfficeSerieId optgroup").empty();
                        $.each(msg, function (index, msg) {

                            $('<option>', {
                                value: msg.documentTypeBranchOfficeSerieId,
                                text: msg.serie
                            }).appendTo("#DocumentTypeBranchOfficeSerieId optgroup");
                        });


                         $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetNumber")",
                            data: { id: $('#DocumentTypeId').val(), serie: $("#DocumentTypeBranchOfficeSerieId option:selected").text()},
                        dataType: "json",
                            success: function (msg) {
                                console.log(msg);
                                $("#Number").val( msg);

                        },
                        error: function (req, status, error) {
                            alert(error);
                        }
                        })
                },
                error: function (req, status, error) {
                    alert(error);
                }
                })
            });


            $('#DocumentTypeBranchOfficeSerieId ').on('change', function () {
                //alert(this.value);
                $.ajax({
                type: "POST",
                url: "@Url.Action("GetNumber")",
                    data: { id: $('#DocumentTypeId').val(), serie: $("#DocumentTypeBranchOfficeSerieId option:selected").text()},
                dataType: "json",
                    success: function (msg) {
                        console.log(msg);
                        $("#Number").val( msg);

                },
                error: function (req, status, error) {
                    alert(error);
                }
                })
            });
        })

       function Quantity(id) {
           var quantity = document.getElementById(id).value;
           var unitPrice = document.getElementById('UnitPrice' + id.replace('Quantity', '')).value;
           document.getElementById('TotalPrice' + id.replace('Quantity', '')).value = quantity * unitPrice;
           Sum();
       }
       function UnitPrice(id) {
           var unitPrice = document.getElementById(id).value;
           var quantity = document.getElementById('Quantity' + id.replace('UnitPrice', '')).value;
           document.getElementById('TotalPrice' + id.replace('UnitPrice', '')).value = quantity * unitPrice;

           Sum();
       }

       function Sum() {
           var elements = document.querySelectorAll(".DocumentList input[type=number]")
           var sum = 0;
           for (var i = 0, element; element = elements[i++];) {
               if (element.id.indexOf("TotalPrice") >= 0)
                   sum = sum + parseFloat(document.getElementById(element.id).value);
           }
           var subTotal = sum / 1.18;
           var tax = sum - subTotal;

           document.getElementById('SubTotal').value = subTotal.toFixed(2);;
           document.getElementById('Tax').value = tax.toFixed(2);;
           document.getElementById('Total').value = sum.toFixed(2);;
       }
</script>
}
