@model List<SiGe.DocumentViewModel>

@{ ViewData["Title"] = "Comprobantes"; }

<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Comprobante</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Comprobante</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lista del Comprobantes</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<p>
    <a type="button" class="btn btn-success" asp-controller="Document" asp-action="Create">Nuevo Comprobante</a>
</p>

<!-- Simple Datatable start -->
<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Listado del Comprobantes</h4>
    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">Fecha de Emisión</th>
                    <th>Comprobante</th>
                    <th>Nombre o Razon Social</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th class="datatable-nosort">Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string selectedRow = "";
                    if (item.DocumentId == (int?)ViewData["DocumentId"])
                    {
                        selectedRow = "success";
                    }

                <tr class="@selectedRow">
                    <td class="table-plus"> @Html.DisplayFor(modelItem => item.IssueDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Document)</td>
                    <td>@Html.DisplayFor(modelItem => item.BusinessName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Total)</td>
                    <td>@if (item.Status) {<img src="~/img/Activo.png" alt="">}else{<img src="~/img/Inactivo.png" alt="">}</td>
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.DocumentId"><i class="dw dw-delete-3"></i>Detalles</a>
                                <a class="dropdown-item" asp-action="Print" asp-route-id="@item.DocumentId" target="_blank"><i class="dw dw-edit2"></i>Imprimir</a>
                                @if (item.Status)
                                {
                                     <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.DocumentId"><i class="dw dw-delete-3"></i>Anular</a>}
                            </div>
                        </div>
                    </td>
                </tr>
}
            </tbody>
        </table>
    </div>
</div>
<!-- Simple Datatable End -->